html{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    background-color: #E51837;
}
#header{
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: 800;
}
.links{
    font: size 32px;
    display: inline-block;
    padding: 10px;
    width: 250px;
}
.links #lasagna{
    background-color: #ffffff;
    color:#E51837;
    font-weight: 800;
    display: inline-block;
    
}
.links #paprika-chicken-rice{
    background-color: #ffffff;
    color:#E51837;
    font-weight: 800;
    display: inline-block;
}
.links #teriyaki-chicken{
    background-color: #ffffff;
    color:#E51837;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0px;
}
#return{
    background-color: #ffffff;
    color:#E51837;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0px;
    width: 250px;
    padding: 10px;
 /* HOW TO ALIGN RETURN BLOCK WITH RECIPE LIST? */
   
}