html{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    background-color: #E51837;
}
#header{
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    font-weight: 800;
}
.links{
    font: size 32px;
    text-align: left;
}
.links #lasagna{
    background-color: #c9A42A;
    color:#E51837;
    font-weight: 800;
}
.links #paprika-chicken-rice{
    background-color: #c9A42A;
    color:#E51837;
    font-weight: 800;
}
.links #teriyaki-chicken{
    background-color: #c9A42A;
    color:#E51837;
    font-weight: 800;
}